/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #000;
}

.carousel-cell {
    padding: 25px;
    border-radius: 25px;
}

.carousel-cell.is-selected {
  background: rgb(100, 61, 136);
}
