/* external css: flickity.css */

* { box-sizing: border-box; }

body { 
  font-family:'orienta', sans-serif;
}

.carousel-cell {
    padding: 50px;
    border-radius: 15px;
}

// .carousel-cell.is-selected {
//   border-color: var(--glow-color);
//   box-shadow: 0 0 1em .25em var(--glow-color),
//          0 0 4em 2em var(--glow-spread-color),
//          inset 0 0 .75em .25em var(--glow-color);
//  }

.selected-cell {
  // border-color: var(--glow-color);
  box-shadow: 0 0 0.5em 0.3em var(--glow-color), 
  0 0 1.5em 1em var(--glow-spread-color);
}

.flickity-viewport {
  overflow: hidden;
}