@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Satisfy&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

:root{
    --glow-color: rgb(255 233 164);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
}

html{
    height: 100%; 
}

body{
    background-color: #000;
    color: white;
    margin: 0;
    // height: 100%;
}

option {
    text-align: center;
}

#header-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#flex-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

// #entry-container-container{
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     height: 100vh;
//     align-items: center;
//     justify-content: center;
// }

#entry-container{
    width: 100%;
    height: 75vh;
}

#title-block{
    background-image: url(/src/client/images/616e0169c8ba0.jpg);
    background-size: 200vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title{
    font-family: 'satisfy', cursive;
    background-color: black;
    color: white;
    // background-color:rgba(255, 255, 255, 100%);
    // color: black;
    font-size: 10vw;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    top: unset;
    left: unset;
    transform: initial;
    // flex: 1 1 100%;
    text-align: center;
    margin: 0;
    // margin-top: 205px;
    mix-blend-mode: multiply;
    // mix-blend-mode: screen;
    // border-top: 5px solid #fa7147;
    // border-bottom: 5px solid #fa7147;
    position: absolute;
    // margin-bottom: 220px;
    // -webkit-text-stroke: 5px rgb(255, 255, 255);
    z-index: 5;

    &::before {
        font-family:'orienta', sans-serif;
        font-size: 1.5vw;
        margin: 0;
        color: white;
        bottom: 0;
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding-bottom: 3px;
        width: 100%;
        align-self: self-start;
        left: 0;
        transform: initial;
        position: absolute;
        z-index: 15;
        content: "TRAVEL IS NEVER A MATTER OF MONEY BUT OF COURAGE"
    }
}

#main-title-highlight{
    font-family: 'satisfy', cursive;
    // background-color: black;
    color: rgba($color: #fff, $alpha: .01);
    font-size: 10vw;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    top: unset;
    left: unset;
    transform: initial;
    // flex: 1 1 100%;
    text-align: center;
    margin: 0;
    // border-top: 5px solid rgba(255, 255, 255, 0.87);
    // border-bottom: 5px solid rgba(255, 255, 255, 0.87);
    border-top: 5px solid var(--glow-color);
    border-bottom: 5px solid var(--glow-color);
    -webkit-text-stroke: 20px rgba(255,255,255,0.07);
    box-shadow: 0 0 0.3em 0.1em var(--glow-color), 
    0 0 1em 0.1em var(--glow-spread-color), 
    inset 0 0 1em 0.25em var(--glow-color);
    z-index: 1;
    position: absolute;

    // border-top: 5px solid #69e5f3;
    // border-bottom: 5px solid var(--glow-color);
    // -webkit-text-stroke: 20px rgba(255, 255, 255, 0.07);
    // box-shadow: 0 0 0.3em 0.1em #81b4e0, 0 0 1em 0.1em #81b4e0c2, inset 0 0 1em 0.25em #81b4e0ba;

    &::after {
        content: "TRAVEL IS NEVER A MATTER OF MONEY BUT OF COURAGE";
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 20%;
        font-size: 1.5vw;
        background: var(--glow-color);
        padding-bottom: 3px;
    }
}

#form-info-holder{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10vh;
    z-index: 30;
}

#date-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.user-fields{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    padding: 10px 0 10px 0;
    width: 12vw;
    background: #a12e9446;
    box-shadow: 0 0 3em 0.5em var(--btn-color);
    border: none;
    border-radius: 8px;
    color: #a14e76;
    font-family: "orienta", sans-serif;
    font-size: 1.4vw;
    transition: all 0.3s;
    margin: 5px;
  }

.user-fields:hover {
    border-color: var(--btn-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }

// #entry-submit{
// }

#arrow-container-container {
    position: absolute;
    bottom: 5%;
    }
    
// https://cssbuttons.io/detail/cssbuttons-io/funny-dog-69
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: .25em solid var(--glow-color);
    // padding: 0.5em 1.2em;
    color: var(--glow-color);
    // font-size: 16px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 16em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    z-index: 20;

}

#arrow-container{
    position: absolute;

    &::before {
        content: "VIEW TRIP ENTRIES";
        color: #a14e76;
        position: absolute;
        top: -100%;
        width: 400px;
        color: white;
        font-weight: bold;
    }
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }