@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Satisfy&display=swap');

html{
    height: 100%;
}

body{
    background-color: #000;
    color: white;
    margin: 0;
    height: 100%;
}

#flex-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#title-block{
    background-image: url(/src/client/images/616e0169c8ba0_edit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    align-items: self-end;
}

#main-title{
    font-family: 'satisfy', cursive;
    // background-color: black;
    // color: white;
    background-color:rgba(255, 255, 255, 100%);
    color: black;
    font-size: 10vw;
    font-weight: bold;
    width: 100%;
    top: unset;
    left: unset;
    transform: initial;
    flex: 1 1 100%;
    text-align: center;
    mix-blend-mode: screen;
    font-size: 8vw;
    margin: 0;
    margin-top: 205px;
    // mix-blend-mode: multiply;
    mix-blend-mode: screen;
    border-top: 5px solid #ed4e48;
    // margin-bottom: 220px;
    // -webkit-text-stroke: 5px rgb(255, 255, 255);
}

#secondary-title{
    font-family:'orienta', sans-serif;
    font-size: 2vw;
    margin: 0;
    background-color:rgba(255, 255, 255, 100%);;
    color: black;
    top: unset;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    align-self: self-start;
    top: 50%;
    left: unset; 
    transform: initial;
    mix-blend-mode: screen; 
    margin: 0;
    border-bottom: 5px solid #ed4e48;
}

// .glow {
//     color: #fff;
//     text-shadow:
//         0 0 5px rgb(169, 236, 236),
//         0 0 9px rgb(98, 238, 215),
//         0 0 12px rgb(86, 230, 255),
//   }
  
button{
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: 2px solid #f3159e;
    background: linear-gradient(315deg, #543ab4 0%, #911dfd 50%, #fc45bf);;
    min-width: 130px;
}

button:hover {
background: none;
color: #f3159e
}
