<div id="entry-info-holder">
    <h3 id="entry-title"> "My trip to: Some place" </h3>
    <div id="entry-submit-buttons">
        <button id="entry-save">save trip</button>
        <button id="entry-delete">remove trip</button>
    </div>
    <p id="entry-countdown"> "Amount of time until trip"</p>
    <p id="entry-weather">Typical weather for then is:</p>
    <section>
        <p>High: -</p>
        <p id="weather-high"></p>
    </section>

    <section>
        <p>Low -</p>
        <p id="weather-low"></p>
    </section>
    <p id="weather-specifics">Mostly cloudy throughout the day</p>
</div>